body {
  background: rgba(0, 0, 0, 0.4);
  background-image: url("wheat.jpg");
  font-family: "Ubuntu", sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#wrapper {
}

#homeJumbo {
  position: relative;
  min-height: 180px;
  background: rgba(44, 62, 80, 0.8);
  background-image: url("wood.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#homeJumbo h1 {
  font-size: 30px;
  color: white;
  font-family: "Oswald";
  text-align: center;
  padding-top: 20px;
  font-weight: bolder;
}
#homeJumbo h1 > a {
  color: white;
  text-decoration: none;
}

.t10 {
  margin-top: 10px;
}
.t20 {
  margin-top: 20px;
}
.f25 {
  font-size: 25px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: white;
  border-bottom: 3px solid #2fa4e7;
  font-weight: bolder;
  background: rgba(0, 0, 0, 0.4);
}
.nav-justified > li > a {
  color: white;
  font-weight: bolder;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background: rgba(0, 0, 0, 0.4);
}
.nav-pills > li + li {
  padding-left: 10px;
}
.text-bold {
  font-weight: bolder !important;
}
.lean-h {
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: bolder;
}
.text-black {
  color: black !important;
}
.text-white {
  color: white !important;
}
footer {
  margin-top: 20px;
  color: white;
  margin-bottom: 20px;
  font-size: larger;
}
